<!DOCTYPE html>
<html>
  <head>
    <title>Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Schedule</h1>
    <table cellspacing="20px" cellpadding="0">
      {% for row in schedule %}
      <tr>
        {% for item in row %}
        {% if item == 'X' %}
        <td style="width: 100px;height: 60px" class="unavailable">{{ item }}</td>
        {% else %}
        <td style="width: 100px;height: 60px" class="available">{{ item }}</td>
        {% endif %} {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
